$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
    font: 100% $font-stack;
    color: $primary-color;
}

.fixed-nav-holder {
  position: fixed;
  z-index: 99;
  width: 100% !important;
}

.row-eq-height {
  display: -webkit-flex;
  display:  -webkit-box;
  display:  -ms-flexbox;
  display:         flex;
}

.undernav {
  margin-top: 5em;
}

.left-controls {
  background-color: rgb(231,231,231);
}

.input-group {
  padding-top: 15px !important;
}

.filter {
  margin-top: 15px !important;
}

section:nth-child(2n+1) {
  background-color: rgb(244,244,244);
}

section {
  -webkit-transition: all 1s ease-out;
  -moz-transition:    all 1s ease-out;
  -o-transition:      all 1s ease-out;
  transition:         all 1s ease-out;
}

.li-divider {
  border-right: 1px solid $primary-color;
}

.delete {
  top: 2.8em;
  position: relative;
}