<div class="row fade-in-anim">
  {{#each genre}}
  <div class="col-xs-6">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" aria-label="..." value="{{this}}">
      </span>
      <input type="text" class="form-control" readonly aria-label="{{this}}" value="{{this}}">
    </div>
  </div>
  {{/each}}
</div>
