{{#each songs}}
<section class='row song-section'>
  <div class='col-xs-1'>
    <button class='hide-btn btn btn-default btn-xs'>
      <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
    </button>
  </div>
  <div class='col-xs-11'>
    <h1>{{title}}</h1>
    <ul class='list-inline'>
      <li class="artist-label">Artist: <em>{{artist}}</em></li>
      <li><span class='li-divider'></span></li>
      <li class="album-label">Album: <em>{{album}}</em></li>
      <li><span class='li-divider'></span></li>
      <li class="genre-label">Genre: <em>{{genre}}</em></li>
    </ul>
  </div>
</section>
{{/each}}